:root{
    --body: #0a0e10;
    --white: #FFFF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--body);
}

.container{
    background: var(--white);
    width: 50%;
    height: 350px;
    max-height: 600px;
    margin: 25vh auto;
}